services:
  portfolio-web:
    build:
      context: .
      args:
        - VITE_API_URL=${VITE_API_URL}
        - VITE_N8N_WEBHOOK_URL=${VITE_N8N_WEBHOOK_URL}
    image: vii4442/portofolio-web:${IMAGE_TAG:-latest}
    container_name: luthfie-portfolio
    restart: always
    networks:
      - portfolio-network
    ports:
      - "80:80"

  portfolio-backend:
    build: ./backend
    image: vii4442/portofolio-backend:${IMAGE_TAG:-latest}
    container_name: portofolio-backend
    restart: always
    volumes:
      - ./backend:/app
      - uploads_data:/app/static/uploads
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    networks:
      - portfolio-network
    depends_on:
      - mongodb
      - qdrant

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
    networks:
      - portfolio-network
    ports:
      - "27017:27017"

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=Asia/Jakarta
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - portfolio-network
    depends_on:
      - mongodb
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: always
    ports:
      - "6334:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - portfolio-network

volumes:
  mongodb_data:
  uploads_data:
  n8n_data:
  qdrant_data:


networks:
  portfolio-network:
    driver: bridge
